    <div id="board-info-area" class="row">
      <div  class="col-12">
        <form id="board-info-form">
          <input type="text" class="form-control" placeholder="add board title" id="board-title-input" {{#if title}}value="{{title}}"{{/if}}>
        </form>
        <div id="symbol-board" role="button" class="btn btn-outline-primary img-div" data-toggle="modal" data-target="#modal-board" {{#if symbol}}style="background-image: url('{{symbol.image_url}}')"{{/if}}></div>
        <button data-id="board" type="button" class="close delete-symbol d-none" aria-label="Delete Symbol">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="row flex-grow-1 bg-dark">
      <div class="col-2 d-flex flex-column justify-content-center">
        {{!-- <!-- Menu goes here --> --}}
        <div class="btn-group-vertical d-flex flex-column nav-container" role="group">
          <div role="button" type="button" class="btn btn-lg btn-primary" onclick="gotoHomePage()">
            <i class="btn-symbol " role="icon">&#x1F519;</i>
           </div>
          <div role="button" type="button" class="btn btn-lg btn-success" id="save-board-btn">
            <i class="btn-symbol " role="icon">&#x1F4BE;</i>
            </div>
          <div role="button" type="button" class="btn btn-lg btn-danger">
            <i class="btn-symbol " role="icon">&#x1F5D1;</i>
          </div>
          <div role="button" type="button" class="btn btn-lg btn-info" onclick="deploy()" >
            <i class="btn-symbol " role="icon">&#x25B6;</i>
          </div>
          <div role="button" type="button" class="btn btn-lg btn-warning btn-block" id="add-card-btn">
            <i class="btn-symbol " role="icon">&#x2795;</i>
          </div>
        </div>
      </div>
      
      <div id="editor" class="col d-flex flex-column bg-dark ">
         {{!-- <!-- Editor goes here --> --}}

        <div id="heading-area" class="d-flex"> 
          {{!-- <!-- Either heading-card editor, or add heading button --> --}}
          <div class="card my-1 d-flex flex-row d-none" id="heading">
            <div class="card-left-sider">
              <form id="form-heading">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-secondary btn-speech">
                      <i class="btn-symbol" role='icon'>&#x1F4AC;</i>
                    </button>
                  </div>
                  <input type="text" class="form-control" placeholder="add heading or question!" id="title-heading">
                </div>
              </form>
            <button id="delete-heading" type="button" class="close" aria-label="Delete">
              <span aria-hidden="true">&times;</span></button>
            </div>
            <div id="symbol-heading" role="button" class="btn btn-outline-primary symbol img-div" data-toggle="modal" data-target="#modal-heading">
              <button data-id="heading" type="button" class="close delete-symbol d-none" aria-label="Delete Symbol">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="add-img-message d-none"><h4>Click to add a symbol!</h4> <i class="btn-symbol " role="icon" style='font-size:4rem'>&#x2795;</i></div>
            </div>
          </div>

          <button class="btn btn-warning btn-lg d-none" id="heading-btn">Add Heading or Question!</button>

        </div>
      
        <div id="card-deck" class="card-deck h-100 w-100 flex-grow-1 d-flex flex-wrap" style="display: flex; justify-content: space-around; align-items: center;">

        {{#each cards as |card|}}

    <div class="card m-1" id="card-{{card.id}}" data-show="{{card.show}}" data-id="{{card.id}}">
      <div class="card-header d-flex flex-row">
        <form id="form-{{card.id}}" data-id="{{card.id}}" class="flex-grow-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <button id="#speak-{{card.id}}" class="btn btn-secondary btn-speak">
                {{ emoji "1F4AC" "style='font-size:4rem'" }}
              </button>
            </div>
            <input id="title-${this.id} "type="text" class="form-control" placeholder="add title" data-id="{{card.id}}" {{#if card.title}}value="{{card.title}}"{{/if}}>
          </div>
        </form>
        <button data-id="{{card.id}}" type="button" class="close delete-card" aria-label="Delete Card">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="symbol-{{card.id}}" data-id="{{card.id}}" role="button" class="btn btn-outline-primary symbol img-card img-div" data-toggle="modal" data-target="#modal-{{card.id}}" {{#if card.symbol}} style="background-image: url('{{card.symbol.image_url}}')"{{/if}}>
        <button data-id="{{card.id}}" type="button" class="close delete-symbol {{#unless card.symbol}}d-none{{/unless}}" aria-label="Delete Symbol">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="add-img-message {{#if card.symbol}}d-none{{/if}}">
        <h4>Click to add an image!</h4> {{ emoji "2795" "style='font-size:4rem'" }}</div>
      </div>
    </div>

        {{/each}}
        </div>

      </div>
    </div>
  

    {{!-- <!-- Heading Modal --> --}}
    <div class="modal fade" id="modal-heading" data-id="heading" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header flex-wrap sticky-top">
            <h4 class="modal-title">Add Symbol</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="w-100"></div>
            <form id="modal-form-heading" data-id="heading" class="d-block">
            <input type="text" class="form-control" id="search-input-heading" data-id="heading" placeholder="search">
            </form>
          </div>
          <div id="modal-body-heading" class="modal-body overflow-auto" data-id="heading">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary save-symbol-btn" id="saveSymbolBtn-heading" data-id="heading">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{!-- Board Modal --}}
    <div class="modal fade" id="modal-board" data-id="board" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header flex-wrap sticky-top">
            <h4 class="modal-title">Add Symbol</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="w-100"></div>
            <form id="modal-form-board" data-id="board" class="d-block">
            <input type="text" class="form-control" id="search-input-board" data-id="board" placeholder="search">
            </form>
          </div>
          <div id="modal-body-board" class="modal-body overflow-auto" data-id="board">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary save-symbol-btn" id="saveSymbolBtn-board" data-id="board">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>